<div *ngIf="movie">
  <div class="backdrop" [ngStyle]="{'background-image': backdrop()}">
    <div class="description">
      <div class="image">
        <h3>{{ movie.nameEng ? movie.nameEng : movie.nameOriginal ? movie.nameOriginal : movie.nameRus }}</h3>
        <div class="genres">
          <span *ngFor="let genre of movie.genre2.split(' ')">{{ 'MOVIES.GENRES.' + genre | translate }}</span>
        </div>
        <div class="details">
          <div class="details-widgets">
            <div class="year pull-left">
              {{ movie.year }}<br>
              <small>{{ 'MOVIES.YEAR' | translate }}</small>
            </div>
            <div class="duration pull-left">
              {{ duarationFormat(movie.runtime) }}<br>
              <small>{{ 'MOVIES.DURATION' | translate }}</small>
            </div>
          </div>
        </div>
        <img src="{{ formatUrl(movie.id.toString()) }}">
      </div>
      <div class="data">
        {{ movie.description_eng ? movie.description_eng : movie.description }}
      </div>
    </div>
    <h1>{{ 'TORRENTS.TORRENTS' | translate }}</h1>
    <br>
  </div>
  <div class="torrents">
    <table width="100%">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'TORRENTS.SEEDS' | translate }}</th>
          <th>{{ 'TORRENTS.HEALTH' | translate }}</th>
          <th>{{ 'TORRENTS.QUALITY' | translate }}</th>
          <th>{{ 'TORRENTS.VIDEO' | translate }}</th>
          <th>{{ 'TORRENTS.LANGUAGE' | translate }}</th>
          <th>{{ 'TORRENTS.SUBTITLES' | translate }}</th>
          <th>{{ 'TORRENTS.VOICES' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of torrents" (click)="checkHealth(item)">
          <td
            (click)="play(item.torrent_download_link, movie.name_eng ? movie.name_eng : movie.name_original ? movie.name_original : movie.name_rus)">
            <fa-icon [icon]="faPlay"></fa-icon>
          </td>
          <td>{{ item.seeds }}/{{ item.peers }}</td>
          <td class="health health-{{ item._health ? item._health : 'unknown' }}"></td>
          <td>{{ quality(item.quality_id) }}</td>
          <td>{{ item.resolution }}, {{videoQualit(item.quality_id)}}</td>
          <td>{{ item.languages_parser }}</td>
          <td>{{ item.subtitles_parser }}</td>
          <td>{{ item.translate_info }}</td>
          <td>{{ fileSize(item.size_bytes) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
