<div class="searchbar">
  <div class="pull-left logo" (click)="goHome()"> Home</div>
  <div class="pull-left logo" (click)="goBack()"> <span>‹</span> Back</div>
  <div class="pull-left search">
    <input placeholder="Movie" [formControl]="searchKeyword" (keyup.enter)="search()">
    <button (click)="search()" class="search-button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
  <div class="settings" (click)="goToSettings()"> &#9881; </div>
  <div class="loader">
    <ngx-loading-bar [color]="'#555'"></ngx-loading-bar>
  </div>
  <!-- <div class="slider {{ isLoading ? 'loading' : ''}}">
    <div class="line"></div>
    <div class="subline inc"></div>
    <div class="subline dec"></div>
  </div> -->
</div>
<div class="searchbar-placeholder"></div>
<div class="{{ playerStatus.playing ? 'playing' : '' }}">
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="player">
    <div class="container-fluid">
      <div class="pull-left img-container">
        <img src="{{ playerStatus.imageUrl }}">
      </div>
      <div class="pull-left playing-details">
        <small>Now playing:</small><br>
        {{ playerStatus.name }}
      </div>
      <div class="download-details">
        <small>Peers: {{ playerStatus.peers }}</small><br>
        Speed: {{ downloadSpeed(playerStatus.downloadSpeed) }}
      </div>
      <div class="slider progress">
        <div class="line"></div>
        <div class="subline" [ngStyle]="{'width': progress(playerStatus.downloadProgress) + '%'}"></div>
      </div>
    </div>
  </div>
</div>
