<div class="searchbar">
  <div class="pull-left logo" (click)="goHome()">Eos Player </div>
  <div class="pull-left search">
    <input placeholder="Movie" [formControl]="searchKeyword" (keyup.enter)="search()">
    <button (click)="search()" class="search-button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
  <div class="slider {{ isLoading ? 'loading' : ''}}">
    <div class="line"></div>
    <div class="subline inc"></div>
    <div class="subline dec"></div>
  </div>
</div>
<div class="searchbar-placeholder"></div>
<div class="{{ playerStatus.playing ? 'playing' : '' }}">
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="player">
    <div class="container-fluid">
      <div class="pull-left img-container">
        <img src="http://img2.zonapic.com/images/film_240/994/994864.jpg">
      </div>
      <div class="pull-left playing-details">
        <small>Now playing:</small><br>
        {{ playerStatus.name }}
      </div>
      <div class="download-details">
        <small>Peers: {{ playerStatus.peers }}</small><br>
        Speed: {{ downloadSpeed(playerStatus.downloadSpeed) }}
      </div>
      <div class="slider progress">
        <div class="line"></div>
        <div class="subline" [ngStyle]="{'width': progress(playerStatus.downloadProgress) + '%'}"></div>
      </div>
    </div>
  </div>
</div>