.body {
  max-height: calc(100vh - 94px);
  overflow: hidden;
  display: block;
  overflow-y: scroll;
}
.searchbar {
  background-color: rgb(40, 48, 53);
  overflow: hidden;
  padding: 15px 30px 15px 30px;
  display: flex;
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 5;
}

.slider {
  position: absolute;
  width: 100%;
  height: 5px;
  overflow-x: hidden;
  left: 0;
  top: 60px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider.progress {
  opacity: 1;
  bottom: 0;
  top: auto;
}

.loading.slider {
  opacity: 1;
}

.line {
  position: absolute;
  //opacity: 0.4;
  background: #555; //#4a8df8;
  width: 150%;
  height: 5px;
}

.subline {
  position: absolute;
  background: #161813; //#4a8df8;
  height: 5px;
}

.loading .inc {
  animation: increase 2s infinite;
}

.loading .dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
.searchbar-placeholder {
  height: 64px;
}

.pull-left {
  float: left;
  overflow: hidden;
}

.logo {
  margin-right: 15px;
  display: flex;
  color: rgb(200, 200, 200);
  margin-top: 4px;
  cursor: pointer;

  span {
    font-size: 30px;
    float: left;
    line-height: 18px;
    margin-right: 10px;
  }
}

.settings {
  margin-left: 15px;
  display: flex;
  color: rgb(200, 200, 200);
  margin-top: 4px;
  cursor: pointer;
}

.search {
  display: flex;
  flex: auto;
  position: relative;
  .search-button {
    background: rgba(128, 128, 128, 0.4);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    color: white;
    position: absolute;
    padding: 5px 15px;
    right: 0;
    top: 0;
    outline: none;
  }
  .search-button:hover {
    background: rgba(128, 128, 128, 0.9);
  }

  input {
    width: 100%;
    background-color: rgb(24, 29, 32);
    border: 0;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    color: white;
  }

  input::-webkit-input-placeholder {
    font-style: italic;
  }

  input:focus {
    outline: none;
  }
}
.player {
  display: none;
  width: 100%;

  .container-fluid {
    position: fixed;
    bottom: 0;
    background-color: #283035;
    width: 100%;
    z-index: 5;
    padding: 20px;

    .img-container {
      margin-right: 15px;
      img {
        max-height: 60px;
      }
    }

    .playing-details {
      margin-top: 3px;
      small {
        color: #aaa;
      }
    }
    .download-details {
      float: right;
      text-align: right;
      margin-top: 3px;
    }
  }
}

.playing {
  .body {
    max-height: calc(100vh - 194px);
  }

  .player {
    display: block;
  }
}
