<div *ngIf="movie">
  <h1>{{ movie.nameEng ? movie.nameEng : movie.nameOriginal ? movie.nameOriginal : movie.nameRus }}</h1>
  <div class="description">
    <div class="image">
      <img src="{{ formatUrl(movie.id.toString()) }}">
    </div>
    <div class="data">
      <div>
        {{ movie.year }} {{ duarationFormat(movie.runtime) }}
      </div>
      {{ movie.descriptionEng ? movie.descriptionEng : movie.description }}
    </div>
  </div>
  <div class="torrents">
    <h1>{{ 'TORRENTS.TORRENTS' | translate }}</h1>
    <hr>
    <table width="100%">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'TORRENTS.SEEDS' | translate }}</th>
          <th>{{ 'TORRENTS.HEALTH' | translate }}</th>
          <th>{{ 'TORRENTS.QUALITY' | translate }}</th>
          <th>{{ 'TORRENTS.VIDEO' | translate }}</th>
          <th>{{ 'TORRENTS.LANGUAGE' | translate }}</th>
          <th>{{ 'TORRENTS.SUBTITLES' | translate }}</th>
          <th>{{ 'TORRENTS.VOICES' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of torrents" (click)="checkHealth(item)">
          <td (click)="play(item.torrent_download_link)"><fa-icon [icon]="faPlay"></fa-icon></td>
          <td>{{ item.seeds }}/{{ item.peers }}</td>
          <td class="health health-{{ item._health ? item._health : 'unknown' }}"></td>
          <td>{{ quality(item.quality_id) }}</td>
          <td>{{ item.resolution }}, {{videoQualit(item.quality_id)}}</td>
          <td>{{ item.languages_parser }}</td>
          <td>{{ item.subtitles_parser }}</td>
          <td>{{ item.translate_info }}</td>
          <td>{{ fileSize(item.size_bytes) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
