table {
  width: 80%;
  margin: auto;
  color: white;

  th {
    border-top: 0;
    color: #ccc;
  }

  td {
    position: relative;
  }

  input {
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
  }

  button {
    color: white;
    background: none;
    text-decoration: underline;
    border: 0;
    position: absolute;
    top: 10px;
    right: 6px;
    outline: none;
  }
}
