/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

body {
  background: rgb(30, 37, 43) !important;
  color: white !important;
}
